---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Constat from '../components/Constat.astro';
import Features from '../components/Features.astro';
import HowItWorks from '../components/HowItWorks.astro';
import ProductPreview from '../components/ProductPreview.astro';
import DataLayers from '../components/DataLayers.astro';
import KeyFigures from '../components/KeyFigures.astro';
import Audience from '../components/Audience.astro';
import FinalCTA from '../components/FinalCTA.astro';
import Contact from '../components/Contact.astro';
import TrustBar from '../components/TrustBar.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Header />
  <main id="contenu">
    <Hero />
    <Constat />
    <Features />
    <HowItWorks />
    <ProductPreview />
    <DataLayers />
    <KeyFigures />
    <Audience />
    <FinalCTA />
    <Contact />
    <TrustBar />
  </main>
  <Footer />
</BaseLayout>
